
h1 {
    color: blue;
    text-align: center;
    font-size: 2em;
    background-color: lightblue;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    font-family: Arial, sans-serif;
}

h2 {
    color: red;
    text-align: center;
    font-size: 2em;
    background-color: lightblue;
}

select {
    color: red; 
    background-color: black; 
    border-radius: 8px; 
    padding: 5px;
}