<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keysight App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Mathematics for Keysight Application</h1>
<div> 
    <h3><b>Calculator</b></h3>
    <form action="/calculate" method="post">
            <input type="number" name="num1" placeholder="Enter your first integer..." step="any" required>
             <label for="conversionType">Select Operation:</label>
            <select name="operation" id="operation">
                <option value="add"><b>Add</b></option>
                <option value="subtract"><b>Subtract</b></option>
                <option value="multiply"><b>Multiply</b></option>
                <option value="divide"><b>Divide</b></option>
            </select>
            <input type="number" name="num2" placeholder="Enter your second integer..." step="any" required>
            <button type="submit" style="color: red; background-color: black; padding: 10px;">Calculate</button>
        </form>
        
        {% if result is not none %}
        <h2><i>Result: {{ result }}</i></h2>
      {% endif %}

    <div>    
        <h3><b>Conversion from Power between Watt and dBm</b></h3>
        <form action="/conversion" method="post">
            <input type="number" name="power" placeholder="Enter the value..." step="any" required value="{{ input_power if input_power is defined else '' }}" width="2000px">    
            <label for="operation1">Select Conversion:</label>
            <select name="operation1"  id="operation1" onchange="cal()">
                <option value="dBm" {% if selected_operation == 'dBm' %}selected{% endif %}>dBm</option>
                <option value="Watt" {% if selected_operation == 'Watt' %}selected{% endif %}>Watt</option>
            </select>
    
            <button type="submit" id="convertBtn">
                {% if selected_operation == 'Watt' %}
                    Convert to Watt from dBm
                {% else %}
                    Convert to dBm from Watt
                {% endif %}
            </button>
        </form>
    
        <script>
            const selectElement = document.getElementById('operation1');
            const buttonElement = document.getElementById('convertBtn');
            function cal() {
                const selectedValue = selectElement.value;
                console.log(selectedValue);
            }
            function updateButtonText() {
                const selectedValue = selectElement.value;
                if (selectedValue === 'dBm') {
                    buttonElement.textContent = 'Convert to dBm from Watt';
                } else if (selectedValue === 'Watt') {
                    buttonElement.textContent = 'Convert to Watt from dBm';
                }
            }
    
            selectElement.addEventListener('change', updateButtonText);
            // Call on load to sync with selected value
            updateButtonText();
        </script>
    
        {% if dBm is not none %}
            <h2><i>Power After Conversion: {{ dBm }}</i></h2>
        {% endif %}
    </div>  
    
    <div> 
      <h3><b>Search Anything about RTSA</b></h3>
      <form action="/search" method="post">
        <input type="text" name="query" placeholder="Enter your question..." required >
        
         <button type="submit" style="color: red; background-color: black; padding: 10px;">Search</button>
      </form>
      <div class="result-box">
        <pre>Answer is: {{ searching }}</pre>
      </div>
    
    </div>
</div>
</body>
</html>
